# Ignore everything
*

# But not directories, so Git can look into them
!*/

# Whitelist the specific files you want to track
!.gitignore
!LICENSE
!README.md
!auto-merge.mjs
!test-auto-merge.mjs
!purge-from-history.sh
!delete-repos.sh
!list-test-repos.sh